.button {
    position: relative;
    border: none;
    background-color: white;
    padding: 15px 15px;
    width: 100%;
    cursor: pointer;
    font-weight: medium;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.button:hover {
    font-weight: bolder;
}

.icon {
    background-color: white;
}