.card .img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* overflow: hidden; */
    object-fit: cover;
    position: relative;
}

.card .content {
    padding: 20px;
    color: #28282b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}


.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #28282b;
    font-weight: bold;
    background-color: white;
}


.description {
    font-size: 1rem;
    background-color: white;
}

.cardBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cardBottom .ratings {

    align-content: end;
    color: red;
}

.cardBottom .ratings p {
    color: #000;
    margin-left: 50px;
}