* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #28282b;
}

body {
    background-color: var(--bg);

    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

}

.container {
    width: 1200px;
    padding: 10px 20px;
    /* background-color: blueviolet; */
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media query for small screens */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
        /* Adjust width for smaller screens */
    }
}

/* Media query for medium screens */
@media screen and (min-width: 577px) and (max-width: 991px) {
    .container {
        width: 80%;
        /* Adjust width for medium screens */
    }
}

/* Media query for large screens */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 70%;
        /* Adjust width for large screens */
    }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
        /* Adjust width for extra-large screens */
    }
}