.welcome {
    font-size: 28px;
    font-family: Arial;
    margin: 16px 0px;
    text-align: center;
}

.note {

    font-size: 18px;
    font-family: Arial;
    margin: 20px 0px;
    text-align: center;
}